body {
  color: black;
  font-family: sans-serif;
}

h1,
h2,
h4,
p,
li {
  font-family: sans-serif;
}
h1,
h2,
h4 {
  color: rgb(224, 14, 14);
}

.first-header {
  font-size: 30px;
  font-style: italic;
}
h2 {
  font-size: 25px;
  font-weight: 900;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 20px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/* footer p {
  font-size: 10px;
} */
/* section article p {
  color: red;
} */
.test {
  color: red;
}
#copyright {
  font-size: 15px;
  font-style: italic;
}
.main-header {
  background-color: #f3ebeb;
  border-bottom: 3px solid grey;
}
.footer {
  border-top: 3px solid #f3ebeb;
}
/*Children's Pseudo Classes*/
/* li:first-child {
  color: red;
}
li:last-child {
  background-color: aqua;
} */
/* li:nth-child(even) {
  color: red;
} */
/* section p:first-child {
  color: red;
} */

/* Hyperlinks Classes*/
/* the following order is mandatory!!*/
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: #1098ab;
}
a:hover {
  color: orange;
  text-decoration: underline;
}
a:active {
  background-color: black;
  color: red;
}
