h1,
h2,
h4,
p,
li {
  color: blue;
  font-family: sans-serif;
}
h1,
h2,
h4 {
  color: rgb(224, 14, 14);
}
h1 {
  font-size: 30px;
  font-style: italic;
}
.first-header {
  font-size: 30px;
  font-style: italic;
}
h2 {
  color: #1010ac6d;
  font-size: 25px;
  font-weight: 900;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 20px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/* footer p {
  font-size: 10px;
} */
/* section article p {
  color: red;
} */
.test {
  color: red;
}
#copyright {
  font-size: 15px;
  font-style: italic;
}
.main-header {
  background-color: #f3ebeb;
  border-bottom: 3px solid grey;
}
.footer {
  border-top: 3px solid #f3ebeb;
}
body {
  background-color: rgba(255, 166, 0, 0.356);
}
