* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.top-header {
  padding: 20px;
  background-color: bisque;
  color: black;
  margin-bottom: 20px;
}
.header {
  text-align: center;
}

.car-image {
  text-align: center;
}
.car-image img {
  width: 30%;
  height: auto;
  max-width: 450px;
  min-width: 300px;
  margin: 16px 0;
}
.car-image h3 {
  text-transform: uppercase;
  font-size: 30px;
}
.car-image p {
  font-weight: bold;
  color: red;
}

h2 {
  text-transform: uppercase;
}

.detail-section a {
  text-decoration: none;
}
.detail-section a:hover {
  text-decoration: underline;
  color: red;
  font-size: 20px;
}

.detail-list {
  list-style-type: upper-roman;
  margin-left: 30px;
}
.detail-list li:nth-child(odd) {
  color: purple;
}

.button-wrapper {
  text-align: center;
}
button {
  border: none;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  color: black;
  background-color: grey;
}

footer {
  border-top: 1px solid grey;
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
  padding: 20px;
  background-color: bisque;
}
