* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.menu {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.hamburger {
  display: none;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.transform {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: #333;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}
button:hover {
  box-shadow: 1px 3px 3px 1px;
  /* transform: matrix(1.2, 0, 0, 1.2, 100, 100); */
  /* transform: translate(15px, 15px); */
  /* transform: translateX(50px); */
  transform: translateY(50px);
  /* transform: scale(1); */
  /* transform: rotate(-15deg); */
}

@media screen and (max-width: 575px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
  }
}
